.modal-content {
  /* border-radius: 20px;
  height: fit-content; */
  /* font-size: larger; */
  height: fit-content;
}

.modal-header {
  background-color: #242222;
}
/* 
.form-input-email {
  height: 50px;
  background-color: #242222;
} */

.modal-title {
  background-color: #242222;
  color: white;
  font-size: 35px;
}

.modal-body {
  background-color: #242222;
  outline: none !important;
}

.button-form-login {
  background: #ee4622;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  font-family: Avenir;
  font-weight: 900px;
  font-size: 21px;
  outline-color: #ee4622 !important ;
  border-color: #ee4622 !important ;
}
.button-form-login:hover {
  background: #ee4622;
}
.button-form-login:focus {
  outline: none !important;
}
.here-to-register {
  font-weight: bold;
  cursor: pointer;
}
.border-0 modal-header modal-header {
  outline: none !important;
}
